@import
url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900');

body{
    margin: 0;
    padding: 0;
}

.team {
    position: relative;
    background-color: #FFFFFF;
    padding: 50px 0;
    box-sizing: border-box;
}

.container2 {
    width: 80%;
    margin:50px auto;
}

.mgt50px {
    margin-top: 50px;
}

.row .column {
    margin: 0 10px;
    position: relative;
    width: calc(25% - 20px);
    min-height: 250px;
    float: left;
    overflow: hidden;
}

.row .column:before {
    content: '';
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 150, 300, 1);
    z-index: 1;
    transition: .5s;
    mix-blend-mode: soft-light;
}

.row .column:hover:before {
    bottom: 0;
}

.row .column .imgBox {
    position: relative;
}

.row .column .imgBox img {
    width: 100%;
    transition: .9s;
}

.row .column:hover .imgBox img {
    transform: scale(1.5);
}

.row .column .details {
    position: absolute;
    bottom: -85px;
    left: 0;
    padding: 10px;
    box-sizing: border-box;
    background: rgba(0,0,0,.9);
    width: 100%;
    transition: .5s;
    z-index: 2;
}

.row .column:hover .details{
    bottom: 0;
}

.row .column .details h3 {
    margin: 0;
    padding: 0;
    font-weight: 500;
    color: #FFFFFF;
    text-align: right;
    text-transform: uppercase;
}

.details {
    text-align: right;
}

.row .column .details span {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #0097e6;
    font-weight: 800;
    text-transform: uppercase;
    position: relative;
    top: -3px;
    text-align: right;
}


.row .column .details ul{
    margin: 0;
    padding: 0;
    display: flex;
    float: right;
}

.row .column .details li{
    list-style: none;
}

.row .column .details a{
    padding: 0 10px;
    color: #FFFFFF;
}

.row .column .details a .fa{
    transition: .7s;
}

.row .column .details a:hover .fa{
    transform: rotateY(360deg);
    color: #0097e6;
}

@media (max-width: 1024px) {
    .container2 {
        width: 90%;
        margin: 20px auto;
    }

    .row .column {
        width: calc(50% - 20px);
        margin-bottom: 20px;
    }


}

@media (max-width: 600px) {
    .container2 {
        width: 95%;
        margin: 20px auto;
    }

    .row .column {
        width: calc(100% - 20px);
        margin-bottom: 20px;
    }


}

@media (min-width: 70rem) {
    .scrollabt1 {
        display: block;
        width: 100%;
        height: 900px;
        background-color: #FFFFFF;
        z-index: 2000;
        margin-bottom: -800px;
    }

    footer {
        width: 100%;
        position: fixed;
        left: 0;
        bottom: 0;
        z-index: -1;

    }

    .team {
        position: relative;
        margin-bottom: 190px;
        background-color: #FFFFFF;
        padding: 5em 0;
        box-shadow: 0 40px 3em 0 rgba(0, 0, 0, .6);
    }

}